<a href="https://colab.research.google.com/github/YESICA287/Infraestructura-de-Big-Data/blob/main/Curso_Big_Data_2%2C_3_SparkSession_crear_y_leer_DataFrames_en_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Curso Big Data #2 - SparkSession crear y leer DataFrames en PySpark

# Librerías

In [1]:
!pip install findspark
!pip install pyspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1
Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=d73cadddb024cc7ada7917866f2d8fc4cb741b6937ae0567cace7af905589a18
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession

## SparkSession

La *SparkSession*, introducida en la versión Spark 2.0, es un punto de entrada a las funcionalidades de Spark. El objeto SparkSession de spark está disponible de forma predeterminada en spark-shell, tecleando en un terminal de nuestro pc **pyspark**:

```bash
C:\Users\errodringer\suscribete>pyspark
```

en la variable **spark**:

![spark-shell](images/spark-shell.PNG "Spark-Shell")  

Aunque *SparkContext* solía ser el punto de entrada antes de la versión 2.0 de Spark, no se reemplaza completamente con SparkSession, muchas características de SparkContext todavía están disponibles y se usan en Spark 2.0 y versiones posteriores. La SparkSession crea internamente SparkConfig y SparkContext con la configuración proporcionada.

### 1. Crear la SparkSession

In [4]:
spark = SparkSession.builder.appName('firstSession')\
    .config('spark.master', 'local[4]')\
    .config('spark.executor.memory', '1g')\
    .config("spark.sql.shuffle.partitions", 1)\
    .config('spark.driver.memory','1g')\
    .getOrCreate()

Todas las condifuraciones disponibles en Spark:

https://spark.apache.org/docs/latest/configuration.html

In [5]:
spark

Se puede obtener y cambiar la configuración inicial dada

In [6]:
spark.conf.get('spark.sql.shuffle.partitions')

'1'

In [7]:
spark.conf.set("spark.sql.shuffle.partitions", 2)

In [8]:
spark.conf.get('spark.sql.shuffle.partitions')

'2'

In [9]:
spark.sparkContext.getConf().getAll()

[('spark.sql.shuffle.partitions', '1'),
 ('spark.app.name', 'firstSession'),
 ('spark.master', 'local[4]'),
 ('spark.app.submitTime', '1701203810727'),
 ('spark.executor.id', 'driver'),
 ('spark.sql.warehouse.dir', 'file:/content/spark-warehouse'),
 ('spark.driver.host', 'edd26e94a779'),
 ('spark.app.id', 'local-1701203812658'),
 ('spark.driver.memory', '1g'),
 ('spark.app.startTime', '1701203810957'),
 ('spark.driver.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'),
 ('spark.executor.memory', '1g'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.driver.port', '33131'),
 ('spark.submit.pyFiles', ''),
 ('spark.submit.deployMode', 'client'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.executor.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false')]

Con el comando:

```python
spark.stop()
```

detenemos la aplicación.

In [10]:
# spark.stop()

### 2. Crear tabla

### 2.1 A partir de una lista

In [11]:
columnas = ["id", "nombre", "l"]
lista = [(1, "Errodringer", "a"), (2, "Paco", "b"), (3, "Hola", "c"), (4, "Adios", "d")]
lista

[(1, 'Errodringer', 'a'),
 (2, 'Paco', 'b'),
 (3, 'Hola', 'c'),
 (4, 'Adios', 'd')]

In [12]:
df_1 = spark.createDataFrame(lista, schema=columnas)

Número total de registros (filas)

In [13]:
df_1.count()

4

Mostramos *n* registros, indicando este parámetro como entrada en la función:

```
show(n)
```

In [14]:
df_1.show(2)

+---+-----------+---+
| id|     nombre|  l|
+---+-----------+---+
|  1|Errodringer|  a|
|  2|       Paco|  b|
+---+-----------+---+
only showing top 2 rows

Columnas del DataFrame

In [15]:
df_1.columns

['id', 'nombre', 'l']

Schema del DataFrame

In [16]:
df_1.printSchema()

root
 |-- id: long (nullable = true)
 |-- nombre: string (nullable = true)
 |-- l: string (nullable = true)

Resumen del DF

In [17]:
df_1.describe().show()

+-------+------------------+------+----+
|summary|                id|nombre|   l|
+-------+------------------+------+----+
|  count|                 4|     4|   4|
|   mean|               2.5|  NULL|NULL|
| stddev|1.2909944487358056|  NULL|NULL|
|    min|                 1| Adios|   a|
|    max|                 4|  Paco|   d|
+-------+------------------+------+----+

In [18]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

schema_1 = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("l", StringType(), True)])

df_11 = spark.createDataFrame(lista, schema=schema_1)

In [19]:
df_11.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- l: string (nullable = true)

In [20]:
df_11.show()

+---+-----------+---+
| id|       name|  l|
+---+-----------+---+
|  1|Errodringer|  a|
|  2|       Paco|  b|
|  3|       Hola|  c|
|  4|      Adios|  d|
+---+-----------+---+

### 2.2 A partir de un csv

In [21]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [22]:
df = spark.read.csv('/content/drive/MyDrive/Big data Spark/business.csv', sep=',', header=True)

In [23]:
df.show(5)

+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS|  UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|   BDCQ.SF1AA2CA|2016.06|  1116.386|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2016.09|  1070.874|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2016.12|  1054.408|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2017.03|  1010.665|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2017.06|    1233.7|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
only showing top 5 rows

In [24]:
df.show(5, truncate=False)

+----------------+-------+----------+----------+------+-------+---------+------------------------------+------------------------------+------------------------+--------------------+--------------+--------------+--------------+
|Series_reference|Period |Data_value|Suppressed|STATUS|UNITS  |Magnitude|Subject                       |Group                         |Series_title_1          |Series_title_2      |Series_title_3|Series_title_4|Series_title_5|
+----------------+-------+----------+----------+------+-------+---------+------------------------------+------------------------------+------------------------+--------------------+--------------+--------------+--------------+
|BDCQ.SF1AA2CA   |2016.06|1116.386  |NULL      |F     |Dollars|6        |Business Data Collection - BDC|Industry by financial variable|Sales (operating income)|Forestry and Logging|Current prices|Unadjusted    |NULL          |
|BDCQ.SF1AA2CA   |2016.09|1070.874  |NULL      |F     |Dollars|6        |Business Data Collection - BDC|Industry by financial variable|Sales (operating income)|Forestry and Logging|Current prices|Unadjusted    |NULL          |
|BDCQ.SF1AA2CA   |2016.12|1054.408  |NULL      |F     |Dollars|6        |Business Data Collection - BDC|Industry by financial variable|Sales (operating income)|Forestry and Logging|Current prices|Unadjusted    |NULL          |
|BDCQ.SF1AA2CA   |2017.03|1010.665  |NULL      |F     |Dollars|6        |Business Data Collection - BDC|Industry by financial variable|Sales (operating income)|Forestry and Logging|Current prices|Unadjusted    |NULL          |
|BDCQ.SF1AA2CA   |2017.06|1233.7    |NULL      |F     |Dollars|6        |Business Data Collection - BDC|Industry by financial variable|Sales (operating income)|Forestry and Logging|Current prices|Unadjusted    |NULL          |
+----------------+-------+----------+----------+------+-------+---------+------------------------------+------------------------------+------------------------+--------------------+--------------+--------------+--------------+
only showing top 5 rows

In [25]:
df.printSchema()

root
 |-- Series_reference: string (nullable = true)
 |-- Period: string (nullable = true)
 |-- Data_value: string (nullable = true)
 |-- Suppressed: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- UNITS: string (nullable = true)
 |-- Magnitude: string (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Series_title_1: string (nullable = true)
 |-- Series_title_2: string (nullable = true)
 |-- Series_title_3: string (nullable = true)
 |-- Series_title_4: string (nullable = true)
 |-- Series_title_5: string (nullable = true)

In [26]:
df.count()

1936

Escritura de un DataFrame. En este caso a ficheros tipo *parquet*, un formato de fichero optimizado para trabajar en entornos big data con grandes volumenes de datos.

In [27]:
df.write.parquet("parquet_example", mode='overwrite')

Se ha escrito en un único fichero porque el dataframe lo tenemos en una sola partición.

### 2.3 A partir de un parquet

In [28]:
df_p = spark.read.parquet('parquet_example')

In [29]:
df_p.count()

1936

In [30]:
df_p.show(2)

+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS|  UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|   BDCQ.SF1AA2CA|2016.06|  1116.386|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2016.09|  1070.874|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
only showing top 2 rows

In [31]:
df_p.describe().show()

+-------+----------------+------------------+------------------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|summary|Series_reference|            Period|        Data_value|Suppressed|STATUS|  UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+-------+----------------+------------------+------------------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|  count|            1936|              1936|              1936|         0|  1936|   1936|     1936|                1936|                1936|                1936|                1936|          1936|          1936|             0|
|   mean|            NULL| 2018.217975206615|2704.3055568181853|      NULL|  NULL|   NULL|      6.0|                NULL|                NULL|                NULL|                NULL|          NULL|          NULL|          NULL|
| stddev|            NULL|1.3594869192539778| 4630.441460229322|      NULL|  NULL|   NULL|      0.0|                NULL|                NULL|                NULL|                NULL|          NULL|          NULL|          NULL|
|    min|   BDCQ.SF1AA2CA|           2016.06|          -398.194|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|    Operating profit|Accommodation and...|Current prices|    Unadjusted|          NULL|
|    max|   BDCQ.SF8RS2CA|           2020.12|           998.124|      NULL|     R|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Wood and Paper Pr...|Current prices|    Unadjusted|          NULL|
+-------+----------------+------------------+------------------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+

In [32]:
df_pandas = df_p.toPandas()

In [33]:
df_pandas.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SF1AA2CA,2016.06,1116.386,None,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,None
1,BDCQ.SF1AA2CA,2016.09,1070.874,None,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,None
2,BDCQ.SF1AA2CA,2016.12,1054.408,None,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,None
3,BDCQ.SF1AA2CA,2017.03,1010.665,None,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,None
4,BDCQ.SF1AA2CA,2017.06,1233.7,None,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,None

In [34]:
# spark.stop()

# Curso Big Data #3 - Transformaciones en columnas en PySpark

In [35]:
import findspark
findspark.init()

In [36]:
from pyspark.sql import SparkSession

### 1. Crear la SparkSession

In [37]:
spark = SparkSession.builder.appName('columnsTransform').getOrCreate()

### 2. Lectura parquet

In [38]:
df = spark.read.parquet('parquet_example')

In [39]:
df.show(2)

+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS|  UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|   BDCQ.SF1AA2CA|2016.06|  1116.386|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2016.09|  1070.874|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
only showing top 2 rows

In [40]:
df.printSchema()

root
 |-- Series_reference: string (nullable = true)
 |-- Period: string (nullable = true)
 |-- Data_value: string (nullable = true)
 |-- Suppressed: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- UNITS: string (nullable = true)
 |-- Magnitude: string (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Series_title_1: string (nullable = true)
 |-- Series_title_2: string (nullable = true)
 |-- Series_title_3: string (nullable = true)
 |-- Series_title_4: string (nullable = true)
 |-- Series_title_5: string (nullable = true)

### 3. Operaciones simples sobre columnas

#### 3.1 Selección de columnas

In [41]:
sel_cols = ['Series_title_1', 'Series_title_2', 'Series_title_3', 'Series_title_4', 'Series_title_5']
df_sel = df.select(sel_cols)

In [42]:
df_sel.show(5)

+--------------------+--------------------+--------------+--------------+--------------+
|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+--------------------+--------------------+--------------+--------------+--------------+
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
+--------------------+--------------------+--------------+--------------+--------------+
only showing top 5 rows

Otro método

In [43]:
df[sel_cols].show(5)

+--------------------+--------------------+--------------+--------------+--------------+
|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+--------------------+--------------------+--------------+--------------+--------------+
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
+--------------------+--------------------+--------------+--------------+--------------+
only showing top 5 rows

#### 3.2 Renombrar una columna

In [44]:
df_sel.withColumnRenamed('Series_title_1', 'ST_1').show(5)

+--------------------+--------------------+--------------+--------------+--------------+
|                ST_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+--------------------+--------------------+--------------+--------------+--------------+
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
+--------------------+--------------------+--------------+--------------+--------------+
only showing top 5 rows

In [45]:
df_sel.show(5)

+--------------------+--------------------+--------------+--------------+--------------+
|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+--------------------+--------------------+--------------+--------------+--------------+
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
+--------------------+--------------------+--------------+--------------+--------------+
only showing top 5 rows

#### 3.3 Ordenar DF

Ascendente

In [46]:
df.sort('Data_value')[['Data_value']].show(10)

+----------+
|Data_value|
+----------+
|  -398.194|
|     -5.26|
|   100.652|
|  1001.875|
|  1005.093|
|  1006.126|
|  1007.319|
|  1007.684|
|   101.353|
|   101.504|
+----------+
only showing top 10 rows

Descendente

In [47]:
from pyspark.sql import functions as F

In [48]:
df.sort(F.desc("Data_value"))[['Data_value']].show(10)

+----------+
|Data_value|
+----------+
|   998.124|
|  9979.557|
|   997.972|
|   997.046|
|   991.864|
|   991.021|
|    99.474|
|   989.697|
|    988.82|
|   987.553|
+----------+
only showing top 10 rows

#### 3.4 Cambiar el tipo de la columna

In [49]:
from pyspark.sql.types import DoubleType, IntegerType, StringType

Creamos una nueva columna con el tipo nuevo

In [50]:
df = df.withColumn('Data_value_int', F.col('Data_value').cast(DoubleType()))

In [51]:
df.show(5)

+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS|  UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|Data_value_int|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
|   BDCQ.SF1AA2CA|2016.06|  1116.386|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|      1116.386|
|   BDCQ.SF1AA2CA|2016.09|  1070.874|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|      1070.874|
|   BDCQ.SF1AA2CA|2016.12|  1054.408|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|      1054.408|
|   BDCQ.SF1AA2CA|2017.03|  1010.665|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|      1010.665|
|   BDCQ.SF1AA2CA|2017.06|    1233.7|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|        1233.7|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
only showing top 5 rows

In [52]:
df.printSchema()

root
 |-- Series_reference: string (nullable = true)
 |-- Period: string (nullable = true)
 |-- Data_value: string (nullable = true)
 |-- Suppressed: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- UNITS: string (nullable = true)
 |-- Magnitude: string (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Series_title_1: string (nullable = true)
 |-- Series_title_2: string (nullable = true)
 |-- Series_title_3: string (nullable = true)
 |-- Series_title_4: string (nullable = true)
 |-- Series_title_5: string (nullable = true)
 |-- Data_value_int: double (nullable = true)

Ahora si podemos ordenar correctamente

In [53]:
df.sort('Data_value_int')[['Data_value_int']].show(10)

+--------------+
|Data_value_int|
+--------------+
|      -398.194|
|         -5.26|
|         8.274|
|         8.413|
|         9.411|
|         21.14|
|        22.619|
|        23.376|
|        24.071|
|        28.332|
+--------------+
only showing top 10 rows

#### 3.5 Aplicar filtros

Simple

In [54]:
df_filter = df.filter(df.Data_value_int > 100)

In [55]:
df_filter.show(5)

+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS|  UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|Data_value_int|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
|   BDCQ.SF1AA2CA|2016.06|  1116.386|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|      1116.386|
|   BDCQ.SF1AA2CA|2016.09|  1070.874|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|      1070.874|
|   BDCQ.SF1AA2CA|2016.12|  1054.408|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|      1054.408|
|   BDCQ.SF1AA2CA|2017.03|  1010.665|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|      1010.665|
|   BDCQ.SF1AA2CA|2017.06|    1233.7|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|        1233.7|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
only showing top 5 rows

In [56]:
df.count(), df_filter.count()

(1936, 1838)

In [57]:
df_filter = df.filter('Data_value_int > 100')

In [58]:
df.count(), df_filter.count()

(1936, 1838)

Varias columnas

In [59]:
df_filter = df.filter((df.Data_value_int > 100) & (df.STATUS == 'R'))

In [60]:
df_filter.show(5)

+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS|  UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|Data_value_int|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
|   BDCQ.SF1FF1CA|2019.09| 28200.644|      NULL|     R|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|     Wholesale Trade|Current prices|    Unadjusted|          NULL|     28200.644|
|   BDCQ.SF1FF1CA|2020.09| 29794.725|      NULL|     R|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|     Wholesale Trade|Current prices|    Unadjusted|          NULL|     29794.725|
|   BDCQ.SF1II1CA|2016.06|  7024.368|      NULL|     R|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Transport, Postal...|Current prices|    Unadjusted|          NULL|      7024.368|
|   BDCQ.SF1II1CA|2016.09|  7233.169|      NULL|     R|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Transport, Postal...|Current prices|    Unadjusted|          NULL|      7233.169|
|   BDCQ.SF1MN1CA|2020.09| 11440.003|      NULL|     R|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Professional, Sci...|Current prices|    Unadjusted|          NULL|     11440.003|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+
only showing top 5 rows

In [61]:
df.count(), df_filter.count()

(1936, 20)

In [62]:
df_filter = df.filter("Data_value_int > 100 and STATUS = 'R'")

In [63]:
df.count(), df_filter.count()

(1936, 20)

#### 3.6 Separación de una columna (split)

In [64]:
df_year = df\
.withColumn('Year', F.split('Period', '\.')[0].cast(IntegerType()))\
.withColumn('Month', F.split('Period', '\.')[1].cast(IntegerType()))

In [65]:
df_year.show(5)

+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+----+-----+
|Series_reference| Period|Data_value|Suppressed|STATUS|  UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|Data_value_int|Year|Month|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+----+-----+
|   BDCQ.SF1AA2CA|2016.06|  1116.386|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|      1116.386|2016|    6|
|   BDCQ.SF1AA2CA|2016.09|  1070.874|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|      1070.874|2016|    9|
|   BDCQ.SF1AA2CA|2016.12|  1054.408|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|      1054.408|2016|   12|
|   BDCQ.SF1AA2CA|2017.03|  1010.665|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|      1010.665|2017|    3|
|   BDCQ.SF1AA2CA|2017.06|    1233.7|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|        1233.7|2017|    6|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+----+-----+
only showing top 5 rows